//utils
@import 'breakpoint';
@import "compass/utilities/general/clearfix";

//variables
@import '../partials/_variables.scss';

//reset
@import '../partials/_reset.scss';

.section {
  background: $dark-aig-blue;
  color: #fff;
  width: 100%;
  td {
    padding: 32px 0;
  }
}
