<link rel="stylesheet" type="text/css" href="../../css/components/icon-top.css">

<table align="center" class="icon-top">
  <tr>
    <td class="spacer">
      <table class="icon-container">
        <tr class="icon">
          <td><img width="100" src="https://www.travelguard.com/content/dam/travelguard/us/images/email/shared/sun.png"></td>
        </tr>
        <tr>
          <td>
            <table class="text">
              <tr>
                <td class="heading">
                  Optional Heading
                </td>
              </tr>
              <tr>
                <td class="content">
                  This is the text content area where you can put product information that adds context to the icon associated with it.
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
