<link rel="stylesheet" type="text/css" href="../../css/components/icon-right.css">

<table align="center" class="icon-right">
  <tr>
    <td class="spacer">
      <table align="right" class="icon">
        <tr>
          <td><img width="100" src="/build/img/sun.png"></td>
        </tr>
      </table>
      <table align="left" class="text">
        <tr>
          <td class="heading">
            Optional Heading
          </td>
        </tr>
        <tr>
          <td class="content">
            This is the text content area where you can put product information that adds context to the icon associated with it.
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
