<link rel="stylesheet" type="text/css" href="../../css/components/icon-left.css">

<table align="center" class="icon-left">
  <tr>
    <td class="spacer">
      <table>
        <tr>
          <td class="icon"><img width="100" src="https://www.travelguard.com/content/dam/travelguard/us/images/email/shared/sun.png"></td>
          <td class="text">
            <table>
              <tr>
                <td class="heading">
                  Optional Heading
                </td>
              </tr>
              <tr>
                <td class="content">
                  This is the text content area where you can put product information that adds context to the icon associated with it.
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
