<link rel="stylesheet" type="text/css" href="../../css/components/social.css">


<table align="center" class="social">
  <tr>
    <td><a href="https://www.facebook.com/travelguard"><img width="40" src="icon-fb.png" style="border: 0; outline: none; display: block; margin: auto; width: 40px;"></a></td>
    <td><a href="https://www.instagram.com/travelguard/"><img width="40" src="icon-ig.png" style="border: 0; outline: none; display: block; margin: auto; width: 40px;"></a></td>
    <td><a href="https://www.linkedin.com/company/travel-guard"><img width="40" src="icon-ln.png" style="border: 0; outline: none; display: block; margin: auto; width: 40px;"></a></td>
    <td><a href="https://www.pinterest.com/travelguard/"><img width="40" src="icon-pin.png" style="border: 0; outline: none; display: block; margin: auto; width: 40px;"></a></td>
    <td><a href="https://twitter.com/travelguard"><img width="40" src="icon-tw.png" style="border: 0; outline: none; display: block; margin: auto; width: 40px;"></a></td>
    <td><a href="https://www.youtube.com/travelguard"><img width="40" src="icon-yt.png" style="border: 0; outline: none; display: block; margin: auto; width: 40px;"></a></td>
  </tr>
</table>

