<link rel="stylesheet" type="text/css" href="../../css/components/table.css">
<link rel="stylesheet" type="text/css" href="../../css/components/responsive/table.css" data-embed>

<table class="wrapper">
  <tr>
    <td class="spacer"> </td>
    <td>
      <table align="center" class="table">
        <thead>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Benefit</th>
            <th>Cover</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="Product">Auto</td>
            <td data-label="Price">$125/month</td>
            <td data-label="Benefit">XLNT Driver</td>
            <td data-label="Cover">Individual</td>
          </tr>
          <tr>
            <td data-label="Product">Travel</td>
            <td data-label="Price">$10</td>
            <td data-label="Benefit">Multi-Trip</td>
            <td data-label="Cover">Family</td>
          </tr>
          <tr>
            <td data-label="Product">Home</td>
            <td data-label="Price">$200/month</td>
            <td data-label="Benefit">Possessions</td>
            <td data-label="Cover">Rental</td>
          </tr>
        </tbody>
      </table>
    </td>
    <td class="spacer"> </td>
  </tr>
</table>
