https://www.travelguard.com/content/dam/travelguard/us/images/email/shared/<link rel="stylesheet" type="text/css" href="../../css/components/ul-checked.css">

<table align="center" class="ul-checked">
  <tr>
    <td class="spacer"> </td>
    <td>
      <table class="list">
        <tr>
          <td class="bullet"><img src="https://www.travelguard.com/content/dam/travelguard/us/images/email/shared/checkmark.png" width="18" height="14"></td>
          <td class="li">List item 1</td>
        </tr>
        <tr>
          <td class="bullet"><img src="https://www.travelguard.com/content/dam/travelguard/us/images/email/shared/checkmark.png" width="18" height="14"></td>
          <td class="li">List item 2</td>
        </tr>
        <tr>
          <td class="bullet"><img src="https://www.travelguard.com/content/dam/travelguard/us/images/email/shared/checkmark.png" width="18" height="14"></td>
          <td class="li">List item 3</td>
        </tr>
      </table>
    </td>
    <td class="spacer"> </td>
  </tr>
</table>
