//utils
@import "compass/utilities/general/clearfix";

//variables
@import '../../partials/_variables.scss';

.table {
  @include breakpoint(sub-desktop) {
    width: 100%;
    thead {
    display: none;
  }
    td {
      display: block;
      text-align: right;
      padding: 1em 1.5em !important;
      &:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-family: $futura-med;
        color: $aig-blue;
      }
    }
    tr {
      display: block;
      margin-bottom: 1.5em;
      border: 1px solid;
      border-bottom: 0;
      &:last-child td {
        border-bottom: 1px solid !important;
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}
