//utils
@import 'breakpoint';
@import "compass/utilities/general/clearfix";

//variables
@import '../partials/_variables.scss';

//reset
@import '../partials/_reset.scss';

.body {
  background: $aig-blue;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  font-family: aig_futuraregular, sans-serif;
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 620px;
  margin: auto;
  .spacer {
    width: 10px;
  }
}

.preheader, .main, .footer {
  width: 100%;
  color: #767676;
}

.preheader, .footer {
  color: $darker-aig-blue;
  font-size: 10px;
  a {
    color: $darker-aig-blue;
    &:hover {
      text-decoration: none;
    }
  }
  td {
    padding: 16px;
  }
}

.main {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 4px #666;
}
