//utils
@import "compass/utilities/general/clearfix";

//variables
@import '../partials/_variables.scss';

//reset
@import '../partials/_reset.scss';

.button {
  text-align: center;
  margin: 16px 0;
  width: 100%;
  a {
    border-radius: 25px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
    background: $cobalt;
    font-family: $source-reg;
    color: #fff;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    font-weight: bold;
  }
}
