//utils
@import "compass/utilities/general/clearfix";

//variables
@import '../partials/_variables.scss';

//reset
@import '../partials/_reset.scss';

.button {
  text-align: center;
  margin: auto;
  td.fallback {
    padding: 15px 40px;
    background: $cobalt;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
    border-radius: 25px;
    a {
      font-family: $source-reg;
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      background: $cobalt;
      border-radius: 25px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
      font-weight: bold;
    }
  }
  .spacer {
    padding: 16px 0;
  }
}
