//utils
@import "compass/utilities/general/clearfix";

//variables
@import '../partials/_variables.scss';

//reset
@import '../partials/_reset.scss';

.head {
  width: 100%;
  text-align: center;
  td {
    padding: 4px 16px;
    font-size: 24px;
    font-weight: bold;
  }
}
