//utils
@import "compass/utilities/general/clearfix";

//variables
@import '../partials/_variables.scss';

//reset
@import '../partials/_reset.scss';


table {
  width: 100%;
}
.highlight {
  font-family: $futura-med;
  font-size: 1.25em;
  color: #fff;
  background: $light-aig-blue;
  padding: 1em;
}
.spacer {
    width: 1em;
  }
