//utils
@import "compass/utilities/general/clearfix";

//variables
@import '../partials/_variables.scss';

//reset
@import '../partials/_reset.scss';


table {
  width: 100%;
}
.highlight {
  font-family: $source-reg;
  font-size: 20px;
  color: #fff;
  background: $light-aig-blue;
  padding: 16px;
  line-height: 1.3;
}
.spacer {
    width: 16px;
  }
