//utils
@import "compass/utilities/general/clearfix";

//variables
@import '../partials/_variables.scss';

//reset
@import '../partials/_reset.scss';

.icon-top {
  width: 100%;
  margin: 0 auto;
  .icon {
    text-align: center;
    td {
      padding-bottom: 32px;
    }
  }
  .heading {
    color: $cobalt;
    font-size: 18px;
    text-align: center;
    padding-bottom: 16px;
    font-weight: bold;
  }
  .content {
    line-height: 1.3;
  }
  .spacer {
    padding: 16px;
  }
  .icon-container {
    width: 100%;
  }
}
