//utils
@import "compass/utilities/general/clearfix";

//variables
@import '../partials/_variables.scss';

//reset
@import '../partials/_reset.scss';

.icon-right {
  width: 100%;
  margin: 0 auto;
  .icon {
    width: 100px;
    td {
      padding-left: 32px;
    }
  }
  .text {
    width: 436px;
  }
  .heading {
    color: $cobalt;
    font-family: $source-reg;
    font-size: 18px;
    padding-bottom: 16px;
  }
  .content {
    line-height: 1.3;
  }
  .spacer {
    padding: 16px;
  }
}
