//utils
@import 'breakpoint';
@import "compass/utilities/general/clearfix";

//variables
@import '../partials/_variables.scss';

//reset
@import '../partials/_reset.scss';

.icon-top {
  width: 100%;
  margin: 0 auto;
  .icon {
    text-align: center;
    td {
      padding-bottom: 32px;
    }
  }
  .heading {
    color: $mint;
    font-family: $futura-med;
    font-size: 1.1em;
    text-align: center;
    padding-bottom: 1em;
  }
  .spacer {
    padding: 1em;
  }
}
