//utils
@import "compass/utilities/general/clearfix";

//variables
@import '../partials/_variables.scss';

//reset
@import '../partials/_reset.scss';

.icon-left {
  width: 100%;
  margin: 0 auto;
  td {
    vertical-align: top;
  }
  .icon {
    text-align: center;
    padding-right: 32px;
  }
  .heading {
    color: $cobalt;
    font-size: 18px;
    padding-bottom: 16px;
    font-weight: bold;
  }
  .content {
    line-height: 1.3;
  }
}
