//utils
@import "compass/utilities/general/clearfix";

//variables
@import '../partials/_variables.scss';

//reset
@import '../partials/_reset.scss';

.img-1col {
  width: 100%;
  text-align: center;
  margin: 16px 0;
  img {
    display: block;
    margin: auto;
    width: 600px;
  }
}
