//utils
@import "compass/utilities/general/clearfix";

//variables
@import '../partials/_variables.scss';

//reset
@import '../partials/_reset.scss';

.ol {
  .spacer {
    width: 1em;
  }
  ol {
    padding: 0;
    li {
      margin-bottom: .5em;
      margin-left: 1.5em;
    }
  }
}
