//utils
@import "compass/utilities/general/clearfix";

//variables
@import '../partials/_variables.scss';

//reset
@import '../partials/_reset.scss';

.pull-quote {
  font-family: $source-reg;
  font-style: italic;
  width: 100%;
  margin: 16px auto;
  font-size: 20px;
  text-align: center;
  color: $cobalt;
  line-height: 1.3;
}
