//utils
@import "compass/utilities/general/clearfix";

//variables
@import '../partials/_variables.scss';

//reset
@import '../partials/_reset.scss';


.social {
  text-align: center;
  td {
    padding: 8px;
    display: inline-block;
  }
} 
