//utils
@import "compass/utilities/general/clearfix";

//variables
@import '../partials/_variables.scss';

//reset
@import '../partials/_reset.scss';

.subheading {
  width: 100%;
  text-align: center;
  color: $cobalt;
  td {
    padding: 4px 0;
    font-weight: bold;
  }
}
