//utils
@import "compass/utilities/general/clearfix";

//variables
@import '../partials/_variables.scss';

//reset
@import '../partials/_reset.scss';

.wrapper {
  margin: 16px 0;
  width: 100%;
}

.table {
  font-family: $source-reg;
  th {
    font-weight: bold;
    font-family: $source-reg;
    text-align: left;
    font-size: 18px;
    color: $aig-blue;
    padding: 0 24px;
    &:first-child {
      padding-left: 0;
    }
  }
  td {
    padding: 16px 24px;
    border-bottom: 1px solid;
    &:first-child {
      padding-left: 0;
    }
  }
  tr:last-child td {
    border-bottom: none;
  }
}
