//utils
@import "compass/utilities/general/clearfix";

//variables
@import '../partials/_variables.scss';

//reset
@import '../partials/_reset.scss';

.ul-checked {
  .spacer {
    width: 16px;
  }
  .bullet {
    width: 28px;
  }
  .li {
    padding-bottom: 8px;
  }
}
