//utils
@import "compass/utilities/general/clearfix";

//variables
@import '../partials/_variables.scss';

//reset
@import '../partials/_reset.scss';

.ul-checked {
  .spacer {
    width: 1em;
  }
  .bullet {
    width: 1.75em;
  }
  .li {
    padding-bottom: .5em;
  }
}
