//utils
@import "compass/utilities/general/clearfix";

//variables
@import '../partials/_variables.scss';

//reset
@import '../partials/_reset.scss';

.col-2 {
  width: 300px;
  margin: auto 0;
  padding: 16px;
}
