//utils
@import 'breakpoint';
@import "compass/utilities/general/clearfix";

//variables
@import '../../partials/_variables.scss';

//reset
@import '../../partials/_reset.scss';

@-webkit-keyframes header {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2000px 0;
  }
}

.header {
  background: #2dc4a5;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%,#2dc4a5), color-stop(80%,#005984)) !important;
  background: -webkit-linear-gradient(left, #2dc4a5 20%,#005984 80%)!important;
  background: linear-gradient(to right, #2dc4a5 20%,#005984 80%) !important;
  background-size: 4000px !important;
  -webkit-animation: header 5s infinite alternate linear;
}
