//utils
@import "compass/utilities/general/clearfix";

//variables
@import '../../partials/_variables.scss';

.button {
  text-align: center;
  margin: 16px 0;
  td {
    background: transparent !important;
    padding: 0 !important;
    box-shadow: none !important;
  }
  a {
    border-radius: 25px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
    background: $cobalt;
    padding: 15px 40px;
    font-weight: bold;
    display: block;
  }
}
