//utils
@import "compass/utilities/general/clearfix";

//variables
@import '../../partials/_variables.scss';

.button {
  text-align: center;
  margin: 16px 0;
  background: transparent !important;
  box-shadow: none !important;
  td {
    padding: 0 !important;
  }
  a {
    display: block;
  }
}
