/*

You can use these comments to help you change any of the text or background colors as well as change the font.

########COLORS#######

To use these colors, you can copy the hash value such as #001871 for aig fore blue and change either the text color or background color of elements. In order to change the color, you can go to the style tag within the relevant table (<table>) or table cell (<td>) and replace an existing "color" or "background" property with the desired color. If neither of those properties exist in the style tag, you can add them.

The final product would look like this for a table or table cell
<table style="color: #001871; background: #C7DBF4;">
or
<td style="color: #001871; background: #C7DBF4;">

primary colors
aig-core-blue: #001871;
pale-aig-blue: #C7DBF4;
cobalt-aig-blue: #1352DE;

secondary colors
cyan: #00A4E4;
lightest-cyan: #E0F3FB;
light-cyan: #C0E7F7;
medium-cyan: #80D2F2;
dark-cyan: #00719E;

orange: #FF8200;
lightest-orange: #FFE5C5;
light-orange: #FECB8B;
medium-orange: #FFB466;
dark-orange: #A9431E;

green: #00BF6F;
lightest-green: #BDF0DF;
light-green: #7AE1BF;
medium-green: #4DD29A;
dark-green: #047E4B;

red: #E81944;
lightest-red: #FBE7EB;
light-red: #F7CED7;
medium-red: #F68CA2;
dark-red: #CB0029;

yellow: #FFBF3F;
lightest-yellow: #FCF2CD;
light-yellow: #F8E59A;
medium-yellow: #FFD279;
dark-yellow: #A9662B;

purple: #904FD8;
lightest-purple: #E2DAF1;
light-purple: #C5B4E3;
medium-purple: #BC95E8;
dark-purple: #6800DB;

teal: #00BFB3;
lightest-teal: #E0F8F3;
light-teal: #C1F0E8;
medium-teal: #80DFD9;
dark-teal: #007D7D;

gray: #B1B1B1;
lightest-gray: #EEEEEE;
light-gray: #DCDCDC;
medium-gray: #D0D0D0;
dark-gray: #343741;

warm-gray: #B6ADA5;
lightest-warm-gray: #EBE9E5;
light-warm-gray: #D7D2CB;
medium-warm-gray: #C8C2BC;

steel: #7086A1;
lightest-steel: #DCE2EA;
light-steel: #93A3B7;
dark-steel: #5D738D;


##########FONTS##########

To change the font of any table cell (<td>), you can either find the "font-family" property within the style tag and replace it or add the "font-family" property to the style tag of a table cell (<td>).

The final product would look like this for Source Sans Pro regular:
<td style="font-family: 'Source Sans Pro', sans-serif;">

source-reg: 'Source Sans Pro', sans-serif; font-weight: 400;
source-bold: 'Source Sans Pro', sans-serif; font-weight: 700;
source-italic: 'Source Sans Pro', sans-serif; font-weight: 400; font-style: italic;
source-italic-bold: 'Source Sans Pro', sans-serif; font-weight: 700; font-style: italic;

*/
