//primary colors
$aig-blue: #00a4e4;
$dark-aig-blue: #0073ae;
$darker-aig-blue: #005984;
$light-aig-blue: #50c8e8;
$lighter-aig-blue: #ade0ee;

//secondary colors
$orange: #e36f1e;
$green: #78a22f;
$red: #c41230;
$yellow: #fdb913;
$purple: #af006e;

//nice colors
$mint: #2DC4A5;

//fonts
$futura-reg: 'aig_futuraregular', Helvetica, Arial, sans-serif;
$futura-med: 'aig_futura_medregular', Helvetica, Arial, sans-serif;
$futura-bold: 'aig_futurabold', Helvetica, Arial, sans-serif;
$futura-italic: 'aig_futura_regularitalic', Helvetica, Arial, sans-serif;
$futura-italic-bold: 'aig_futura_bolditalic', Helvetica, Arial, sans-serif;

//breakpoints
$sub-tablet: 401px;
$tablet: 565px;
$sub-desktop: max-width 600px;
